<header>
    <div class="class header-class">
        <div class="column-1">
            <h3><a href="/home" style="text-decoration: none; color: white">Home</a></h3>
        </div>
        <div class="column-2">
            <div class="company-info">
                <h3>Quiz System</h3>
                <h5> Welcome {{name}}</h5>
            </div>
        </div>
        <div class="column-3">
            <div class="action-buttons ms-auto">
                <a href="/quiz/create">
                    Create Quiz
                </a>
            </div>
            <div class="action-buttons ms-auto">
                <a href="/logout">
                    Logout
                </a>
            </div>
        </div>
    </div>
</header>