<div class="container center">
    <section class="inner-layout">
        <h2>Login</h2>
        <form action="" method="post">
            <div class="container">
                <label for="uname"><b>Email</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                <button type="submit">Login</button>
            </div>
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="btn" onclick="register()" style="background-color: blue;">Register</button>
            </div>
        </form>
    </section>
</div>

<script>
    $("form").submit(function (event) {
        var data = $('form').serializeArray();
        $.ajax({
            url: "/login",
            method: 'post',
            data: {
                "email": data[0].value,
                "password": data[1].value
            },
            success: function (result) {
                if(result.authenticated){
                    window.location.href = "/home";
                }else{
                    alert("Invalid Email/Password");
                }
            }
        });
        event.preventDefault();
    });
    function register(element, color) {
        window.location.href= '/register'
    }
</script>
